<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% url = request.original_fullpath %>

  <div class="container">
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="<%= url == '/' ? 'active' : '' %>"><%= link_to 'Home', root_path %></li>
          <li class="<%= url.include?('alunos') ? 'active' : '' %>"><%= link_to 'Alunos', alunos_path %></li>
          <li class="<%= url.include?('cursos') ? 'active' : '' %>"><%= link_to 'Cursos', cursos_path %></li>
          <li class="dropdown <%= url.include?('matriculas') ? 'active' : '' %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matrículas <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Listagem', matriculas_path %></li>
              <li><%= link_to 'Pagamento', matriculas_path %></li>
              <li><%= link_to 'Cancelamento', matriculas_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
